<h1>Waddup</h1>
<div id="play-area">
  <div class="tower" id="tower-1"></div>
  <div class="tower" id="tower-2"></div>
  <div class="tower" id="tower-3"></div>
</div>
<button id="play-button">Play!</button>
