<h1>Waddup</h1>
<div id="play-area">
  <div class="tower" id="tower-1">1</div>
  <div class="tower" id="tower-2">2</div>
  <div class="tower" id="tower-3">3</div>
  <!-- data-id refers to the current tower -->
  <div class="piece" id="small-piece" data-id="1">1</div>
  <div class="piece" id="medium-piece" data-id="1">2</div>
  <div class="piece" id="large-piece" data-id="1">3</div>
</div>
<button id="play-button">Play!</button>
